<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReviewMapper">

	<resultMap id="reviewSelectMap" type="review">
		<result property="reviewNo" 				column="review_no" 			jdbcType="INTEGER"/>
		<result property="reviewTran.tranNo"		column="tran_no" 			jdbcType="INTEGER" />
		<result property="reviewBuyer.userId" 		column="buyer_id" 			jdbcType="VARCHAR" />
		<result property="reviewBuyer.userName" 	column="user_name" 			jdbcType="VARCHAR" />
		<result property="reviewDetail"				column="review_detail" 		jdbcType="VARCHAR"/>
		<result property="reviewDate"				column="reg_date"			jdbcType="DATE"/>
		<result property="reviewFileName" 			column="image_file"			jdbcType="VARCHAR"/>	
		
		<association property="reviewProd"  javaType="product">
			<id 	property="prodNo" 		column="prod_no" 			jdbcType="NUMERIC"/>
			<result property="prodName" 	column="prod_name" 			jdbcType="VARCHAR"/>
		</association>
	</resultMap>
	
	<insert 	id="insertReview"		parameterType="review" >
	 	INSERT
		INTO review( review_no , tran_no, prod_no, buyer_id, review_detail, reg_date, image_file) 
		VALUES	 (seq_review_review_no.NEXTVAL , #{reviewTran.tranNo} , #{reviewProd.prodNo} , #{reviewBuyer.userId} 
					, #{reviewDetail} , SYSDATE, #{reviewFileName:VARCHAR})
	 </insert>
</mapper>